$xs-media:320px;
$sm-media:374px;
$md-media:768px;
$lg-media:1023px;
$xl-media:1400px;

@mixin xs-width() {
    @media all and (min-width: $xs-media) {
        @content;
    }
}

@mixin sm-width() {
    @media all and (min-width: $sm-media) {
        @content;
    }
}

@mixin md-width() {
    @media all and (min-width: $md-media) {
        @content;
    }
}

@mixin lg-width() {
    @media all and (min-width: $lg-media) {
        @content;
    }
}

@mixin xl-width() {
    @media all and (min-width: $xl-media) {
        @content;
    }
}
